.report-card {
    padding: 16px 24px;
    border-radius: 4px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.report-card p {
    font-family: var(--font-Titillium);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-grey);
    margin: 0 0 8px;
}

.report-card h1 {
    font-family: var(--font-Titillium);
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    color: var(--color-black);
}

.inbound-statics-panel {
    background: #f8fafb;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 7px 24px;
}

.counts {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-primary);
    padding: 0 1px 1px 0;
}

.inbound-statics-panel .panel-btn {
    font-family: var(--font-Titillium);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-primary);
    text-transform: capitalize;
    position: relative;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 32px;
}

.inbound-statics-panel .panel-btn:first-child {
    padding-left: 0;
}

.inbound-statics-panel .panel-btn::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 1px;
    background: #e6e6e6;
}

.inbound-statics-panel .panel-btn.active .counts {
    background: var(--color-primary);
    color: var(--color-white);
}

.panel-btn-inner {
    position: relative;
    white-space: nowrap;
}

.panel-btn-inner::before {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5px;
    width: 100%;
    background: var(--color-primary);
    display: none;
}

.inbound-statics-panel .panel-btn.active .panel-btn-inner::before {
    display: block;
}

.inbound-statics-panel .panel-btn:hover .panel-btn-inner::before {
    display: block;
}

.inbound-statics-panel .panel-btn:hover .counts {
    background: var(--color-primary);
    color: var(--color-white);
    transition: 0.3s;
}
.custom-nav-tabs {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--color-primary);
    max-width: 435px;
    width: 100%;
}

.custom-nav-tabs .nav-link {
    border-radius: 0;
    padding: 8px 24.4px 8px;
    background: var(--color-white);
    border-right: 1px solid var(--color-primary);
    font-family: var(--font-Titillium);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--color-grey);
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important ;
    transition: 0.3s;
    width: 100%;
    white-space: nowrap;
}

.custom-nav-tabs .nav-item {
    width: 100%;
}

.custom-nav-tabs .nav-item:last-child .nav-link {
    border: none;
}

.custom-nav-tabs .nav-item.show .nav-link,
.custom-nav-tabs .nav-link.active {
    background: var(--color-primary);
    font-weight: 700;
    color: var(--color-white);
}

.custom-nav-tabs .nav-link:focus,
.custom-nav-tabs .nav-link:hover {
    border-color: var(--color-primary);
}
.product-content {
    max-width: 192px;
    width: 100%;
}

.product {
    gap: 14px;
}

.product-title {
    font-family: var(--font-Titillium);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-primary);
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 4px;
}

.product-code {
    font-family: var(--font-Titillium);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-grey);
}
.custom-table tr th {
    font-family: var(--font-Titillium);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: var(--color-lightgrey);
    text-transform: capitalize;
}
.table-header {
    background: #f8fafb;
}

.custom-table {
    border: 1px solid #cfd8dc !important;
    border-color: #cfd8dc;
    border-radius: 8px;
    margin-bottom: 12px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dimensions {
    display: flex;
    gap: 4px;
}

.text-small h5 {
    font-family: var(--font-Titillium);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4e6069;
    margin-bottom: 4px;
}
.text-small p {
    font-family: var(--font-Titillium);
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-lightgrey);
    text-transform: capitalize;
}
.status {
    background: rgba(21, 101, 216, 0.03);
    border: 1px solid var(--color-primary);
    border-radius: 16px;
    padding: 3px 8px;
    font-family: var(--font-Titillium);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
}

.table-btn-group {
    gap: 12px;
}

.table-btn-group button {
    padding: 0;
    border: none;
    background: none;
}

.table > :not(caption) > * > * {
    padding: 12px 0.5rem 16px 16px;
    border: none;
}

.table-header th {
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-cover .form-control {
    height: 32px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-family: var(--font-Titillium);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #979797;
    padding: 8px 30px 8px 12px;
}

.input-cover .form-control:focus {
    outline: none;
    box-shadow: none;
}

.search-btn {
    position: absolute;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-white);
    border: none;
}
